@model SolidSlate.Models.Customer
@{
    ViewBag.Title = "Detalle de cliente";
    ViewBag.ShowBackBar = true;
}

<div>
    <h1>Cliente: @Model.Name</h1>
    <h3>Alias: @Model.Alias</h3>
    <h3>Es una empresa: @(Model.IsCompany ? "Si" : "No")</h3>
</div>


