@model SolidSlate.Models.Customer[]
@{
    ViewBag.Title = "Clientes";
}

<h1>@ViewBag.Title</h1>


<div class="row">
    @foreach (var customer in Model)
    {
        <div class="col-md-4">
            <h2>@Html.ActionLink(customer.Name, "Detail", new { id = customer.Id })</h2>
            <h3>@customer.Alias</h3>
        </div>
    }
</div>

